
@import url("https://use.typekit.net/uvx8zrm.css");    
* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    color: #3a6cf3;
    text-decoration: none;
}

.navigation a {
    text-decoration: none;
    color: #3af349;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a {
    color: #601cfc;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("../images/hero-background.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.main h2 {
    color: aliceblue;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    color: aliceblue;
    font-size: 3em;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
}

.main h3 {
    color: aliceblue;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main .btn {
    display: inline-block;
    padding: 0.9375em 2.1875em;
    background-color: red;
    color: red;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main .btn:hover {
    background-color: #3a6cf3;
    color: white;
    transform: scale(1.1, 2);
}

.social-icons a {
    font-size: 1.5em;
    color: aliceblue;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #f5f5f5;
    width: 30%;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 15px;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #3a6cf3;
    font-size: 6.2em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px;
}


.projects {
    background-color: #86c9da;
   
}

.projects .content{
margin-top: 30px;


}  


.project-card {
    width: 23em;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    min-height: 14em;
    border-radius: 13px;
    overflow: hidden;
    margin:20px;
   transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
   opacity: 0.7;
}

.project-image img{
    width: 100%;
    height: 10em;
    object-fit: cover;

}

.project-image img:active { 
    
    transform: scale(1.1);
}
.project-video {
    width: 100%;
}

.project-video iframe {
    width: 100%;
    height: 315px;
    border: none;
}


.project-info {
    padding: 1em;
}

.project-category{
    color: black;
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 10px;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}



.more-details {
    text-decoration: none;
    color: #3a6cf3;
   
}

.more-details:hover {
    color: #601cfc;
   
}

@media  (max-width: 1023px) {
    header {
        padding: 10px 20px;
    }

    .navigation a {
        padding-left: 15px;

    }
    .title {
        font-size: 1.8em;
    }

    section {
        padding: 100px 20px;
    }
    .main-content h2{
        font-size: 1.2em;
        
    }
    .main-content h3{
        font-size: 2.5em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

   
}

@media (max-width:641px){

   body{
    font-size: 14px;

}

.main-content h2{
    font-size: 1em;
    
}

.main-content h3{
    font-size: 1.4em;
}
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}


.projects-card {
    width : 20em;
    height: 20em;

}

.project-image {
    width: 100%;
    height: 10em;
    overflow: hidden;
}
.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}